/* Body Styles */
body {
    background-color: rgb(62, 117, 62);
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.register {
    /* max-width: 800px;  */
    margin: 0 auto;
    padding: 8%;
}

/* Form Content Styles */
.form-content {
    background: #f9f7e8;
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    min-height: 70vh;
    min-width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image Styles */
.img {
    flex: 1; /* Make the image take one-third of the container's width */
    text-align: center;
}

.img img {
    width: 200px; 
    border-radius: 50%; 
}

/* Form Items Styles */
.form-items {
    flex: 2; /* Make the form items take two-thirds of the container's width */
    padding: 0 20px; 
}

.form-items h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-items p {
    margin-bottom: 30px;
    text-align: center;
}

/* Input Styles */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

/* Radio Button Styles */
.radio {
    margin-right: 20px;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .form-content {
        flex-direction: column; 
    }

    .img,
    .form-items {
        flex: 1; /* Make both image and form items take full width on smaller screens */
        text-align: center;
    }

    .form-items {
        padding: 0; 
    }
}

.form-items button {
    background-color: rgb(62, 117, 62);;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}
